$Montserrat: 'Montserrat';
$sans_serif: "sans-serif";

$button: linear-gradient(270deg, #fa5293 0, #f86b64 100%);
$buttonHover: linear-gradient(270deg, #f86b64 0, #fa5293 100%);
$background: #21265e;

html{
    width: 100%;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;

    
    background: $background;
}

body {
    margin: 0;
    background-size: cover;
    width: 100%;
    color: white;
    padding-bottom: 50px;
}

h1,h2,h3,h4,h5,h6,p,a,b{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    display: block;
    
}

input{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0 12px 0 12px;
    width: 100%;
    height: 50px;
    background: rgba(20, 19, 88, 0.5);
    border: 1px solid $button;
    border-radius: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    outline: none;
    margin-top: 10px;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.button{
    padding-bottom: 30px;
}

button{
    font-family: 'Montserrat', sans-serif;
    border: none;
    background: $button;
    font-size: 16px;
    color: white;
    border-radius: 100px;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

table{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    width: 85%;
    margin-top: 15px;
    border-spacing: 0px;
    border-collapse: collapse;

    .dark{
    background: rgba(0,0,0,0.05);
    }

    tr{
    margin: 0;
    border: none;
    }

    th{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fa5293;
    font-size: 18px;
    margin: 0;
    border: none;
    }

    td{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
    margin: 0;
    border: none;
    }
}

